<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>items</key>

		<array>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>com.imkpatil.colormybattery</string>
				<key>key</key>
				<string>TwkEnabled</string>
				<key>label</key>
				<string>Enabled</string>
				<key>PostNotification</key>
				<string>com.imkpatil.colormybattery.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Body Color</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.imkpatil.colormybattery</string>
				<key>key</key>
				<string>wantsCustomBodyColor</string>
				<key>label</key>
				<string>Use Custom Body Color</string>
				<key>PostNotification</key>
				<string>com.imkpatil.colormybattery.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFSimpleLiteColorCell</string>
				<key>libcolorpicker</key>
				<dict>
					<key>defaults</key>
					<string>com.imkpatil.colormybattery</string>
					<key>key</key>
					<string>bodyColor</string>
					<key>fallback</key>
					<string>#FFFFFF</string>
				</dict>
				<key>label</key>
				<string>Battery Body Color</string>
			</dict>

			<!-- <dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>default</key>
				<real>0.4</real>
				<key>defaults</key>
				<string>com.imkpatil.colormybattery</string>
				<key>key</key>
				<string>bodyColorAlpha</string>
				<key>max</key>
				<real>1.0</real>
				<key>min</key>
				<real>0.0</real>
				<key>showValue</key>
				<true/>
				<key>PostNotification</key>
				<string>com.imkpatil.colormybattery.settingschanged</string>
			</dict> -->

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Bolt Color</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.imkpatil.colormybattery</string>
				<key>key</key>
				<string>wantsCustomBoltColor</string>
				<key>label</key>
				<string>Use Custom Bolt Color</string>
				<key>PostNotification</key>
				<string>com.imkpatil.colormybattery.settingschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFSimpleLiteColorCell</string>
				<key>libcolorpicker</key>
				<dict>
					<key>defaults</key>
					<string>com.imkpatil.colormybattery</string>
					<key>key</key>
					<string>boltColor</string>
					<key>fallback</key>
					<string>#FFFFFF</string>
				</dict>
				<key>label</key>
				<string>Battery Bolt Color</string>
			</dict>


			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Low Power Mode Color</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFSimpleLiteColorCell</string>
				<key>libcolorpicker</key>
				<dict>
					<key>defaults</key>
					<string>com.imkpatil.colormybattery</string>
					<key>key</key>
					<string>LPMColor</string>
					<key>fallback</key>
					<string>#F4EE36</string>
				</dict>
				<key>label</key>
				<string>Low Power Mode Color</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Charging Color</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFSimpleLiteColorCell</string>
				<key>libcolorpicker</key>
				<dict>
					<key>defaults</key>
					<string>com.imkpatil.colormybattery</string>
					<key>key</key>
					<string>ChargeColor</string>
					<key>fallback</key>
					<string>#53FE31</string>
				</dict>
				<key>label</key>
				<string>Charging Color</string>
			</dict>

			<!-- <dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.imkpatil.colormybattery</string>
				<key>key</key>
				<string>ColorBattPer</string>
				<key>label</key>
				<string>Color Battery Percent</string>
				<key>PostNotification</key>
				<string>com.imkpatil.colormybattery.settingschanged</string>
			</dict> -->

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Specify Custom Colors</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFSimpleLiteColorCell</string>
				<key>libcolorpicker</key>
				<dict>
					<key>defaults</key>
					<string>com.imkpatil.colormybattery</string>
					<key>key</key>
					<string>CustCol1</string>
					<key>fallback</key>
					<string>#53FE31</string>
				</dict>
				<key>label</key>
				<string>96-100 %</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFSimpleLiteColorCell</string>
				<key>libcolorpicker</key>
				<dict>
					<key>defaults</key>
					<string>com.imkpatil.colormybattery</string>
					<key>key</key>
					<string>CustCol1_1</string>
					<key>fallback</key>
					<string>#53FE31</string>
				</dict>
				<key>label</key>
				<string>91-95 %</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFSimpleLiteColorCell</string>
				<key>libcolorpicker</key>
				<dict>
					<key>defaults</key>
					<string>com.imkpatil.colormybattery</string>
					<key>key</key>
					<string>CustCol2</string>
					<key>fallback</key>
					<string>#47D9BC</string>
				</dict>
				<key>label</key>
				<string>86-90 %</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFSimpleLiteColorCell</string>
				<key>libcolorpicker</key>
				<dict>
					<key>defaults</key>
					<string>com.imkpatil.colormybattery</string>
					<key>key</key>
					<string>CustCol2_1</string>
					<key>fallback</key>
					<string>#47D9BC</string>
				</dict>
				<key>label</key>
				<string>81-85 %</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFSimpleLiteColorCell</string>
				<key>libcolorpicker</key>
				<dict>
					<key>defaults</key>
					<string>com.imkpatil.colormybattery</string>
					<key>key</key>
					<string>CustCol3</string>
					<key>fallback</key>
					<string>#437EE0</string>
				</dict>
				<key>label</key>
				<string>76-80 %</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFSimpleLiteColorCell</string>
				<key>libcolorpicker</key>
				<dict>
					<key>defaults</key>
					<string>com.imkpatil.colormybattery</string>
					<key>key</key>
					<string>CustCol3_1</string>
					<key>fallback</key>
					<string>#437EE0</string>
				</dict>
				<key>label</key>
				<string>71-75 %</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFSimpleLiteColorCell</string>
				<key>libcolorpicker</key>
				<dict>
					<key>defaults</key>
					<string>com.imkpatil.colormybattery</string>
					<key>key</key>
					<string>CustCol4</string>
					<key>fallback</key>
					<string>#4C43E0</string>
				</dict>
				<key>label</key>
				<string>66-70 %</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFSimpleLiteColorCell</string>
				<key>libcolorpicker</key>
				<dict>
					<key>defaults</key>
					<string>com.imkpatil.colormybattery</string>
					<key>key</key>
					<string>CustCol4_1</string>
					<key>fallback</key>
					<string>#4C43E0</string>
				</dict>
				<key>label</key>
				<string>61-65 %</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFSimpleLiteColorCell</string>
				<key>libcolorpicker</key>
				<dict>
					<key>defaults</key>
					<string>com.imkpatil.colormybattery</string>
					<key>key</key>
					<string>CustCol5</string>
					<key>fallback</key>
					<string>#833AEE</string>
				</dict>
				<key>label</key>
				<string>56-60 %</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFSimpleLiteColorCell</string>
				<key>libcolorpicker</key>
				<dict>
					<key>defaults</key>
					<string>com.imkpatil.colormybattery</string>
					<key>key</key>
					<string>CustCol5_1</string>
					<key>fallback</key>
					<string>#833AEE</string>
				</dict>
				<key>label</key>
				<string>51-55 %</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFSimpleLiteColorCell</string>
				<key>libcolorpicker</key>
				<dict>
					<key>defaults</key>
					<string>com.imkpatil.colormybattery</string>
					<key>key</key>
					<string>CustCol6</string>
					<key>fallback</key>
					<string>#E436F4</string>
				</dict>
				<key>label</key>
				<string>46-50 %</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFSimpleLiteColorCell</string>
				<key>libcolorpicker</key>
				<dict>
					<key>defaults</key>
					<string>com.imkpatil.colormybattery</string>
					<key>key</key>
					<string>CustCol6_1</string>
					<key>fallback</key>
					<string>#E436F4</string>
				</dict>
				<key>label</key>
				<string>41-45 %</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFSimpleLiteColorCell</string>
				<key>libcolorpicker</key>
				<dict>
					<key>defaults</key>
					<string>com.imkpatil.colormybattery</string>
					<key>key</key>
					<string>CustCol7</string>
					<key>fallback</key>
					<string>#F4EE36</string>
				</dict>
				<key>label</key>
				<string>36-40 %</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFSimpleLiteColorCell</string>
				<key>libcolorpicker</key>
				<dict>
					<key>defaults</key>
					<string>com.imkpatil.colormybattery</string>
					<key>key</key>
					<string>CustCol7_1</string>
					<key>fallback</key>
					<string>#F4EE36</string>
				</dict>
				<key>label</key>
				<string>31-35 %</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFSimpleLiteColorCell</string>
				<key>libcolorpicker</key>
				<dict>
					<key>defaults</key>
					<string>com.imkpatil.colormybattery</string>
					<key>key</key>
					<string>CustCol8</string>
					<key>fallback</key>
					<string>#FA8030</string>
				</dict>
				<key>label</key>
				<string>26-30 %</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFSimpleLiteColorCell</string>
				<key>libcolorpicker</key>
				<dict>
					<key>defaults</key>
					<string>com.imkpatil.colormybattery</string>
					<key>key</key>
					<string>CustCol8_1</string>
					<key>fallback</key>
					<string>#FA8030</string>
				</dict>
				<key>label</key>
				<string>21-25 %</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFSimpleLiteColorCell</string>
				<key>libcolorpicker</key>
				<dict>
					<key>defaults</key>
					<string>com.imkpatil.colormybattery</string>
					<key>key</key>
					<string>CustCol9</string>
					<key>fallback</key>
					<string>#F14034</string>
				</dict>
				<key>label</key>
				<string>16-20 %</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFSimpleLiteColorCell</string>
				<key>libcolorpicker</key>
				<dict>
					<key>defaults</key>
					<string>com.imkpatil.colormybattery</string>
					<key>key</key>
					<string>CustCol9_1</string>
					<key>fallback</key>
					<string>#F14034</string>
				</dict>
				<key>label</key>
				<string>11-15 %</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFSimpleLiteColorCell</string>
				<key>libcolorpicker</key>
				<dict>
					<key>defaults</key>
					<string>com.imkpatil.colormybattery</string>
					<key>key</key>
					<string>CustCol10</string>
					<key>fallback</key>
					<string>#FF4B3D</string>
				</dict>
				<key>label</key>
				<string>6-10 %</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFSimpleLiteColorCell</string>
				<key>libcolorpicker</key>
				<dict>
					<key>defaults</key>
					<string>com.imkpatil.colormybattery</string>
					<key>key</key>
					<string>CustCol10_1</string>
					<key>fallback</key>
					<string>#FF4B3D</string>
				</dict>
				<key>label</key>
				<string>0-5 %</string>
			</dict>

			<!-- <dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>defaults</key>
				<string>com.imkpatil.colormybattery</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>key</key>
				<string>HighBatt</string>
				<key>label</key>
				<string>76 - 100 %</string>
				<key>validTitles</key>
					<array>
						<string>Green</string>
						<string>Blue</string>
						<string>Brown</string>
						<string>Clear</string>
						<string>Cyan</string>
						<string>DarkGray</string>
						<string>LightGray</string>
						<string>Magenta</string>
						<string>Orange</string>
						<string>Purple</string>
						<string>Red</string>
						<string>White</string>
						<string>Yellow</string>
						<string>Black</string>
					</array>
				<key>validValues</key>
					<array>
						<integer>1</integer>
						<integer>2</integer>
						<integer>3</integer>
						<integer>4</integer>
						<integer>5</integer>
						<integer>6</integer>
						<integer>7</integer>
						<integer>8</integer>
						<integer>9</integer>
						<integer>10</integer>
						<integer>11</integer>
						<integer>12</integer>
						<integer>13</integer>
						<integer>14</integer>
					</array>
				<key>PostNotification</key>
				<string>com.imkpatil.colormybattery.settingschanged</string>

			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>defaults</key>
				<string>com.imkpatil.colormybattery</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>key</key>
				<string>MediumHighBatt</string>
				<key>label</key>
				<string>51 - 75 %</string>
				<key>validTitles</key>
					<array>
						<string>Green</string>
						<string>Blue</string>
						<string>Brown</string>
						<string>Clear</string>
						<string>Cyan</string>
						<string>DarkGray</string>
						<string>LightGray</string>
						<string>Magenta</string>
						<string>Orange</string>
						<string>Purple</string>
						<string>Red</string>
						<string>White</string>
						<string>Yellow</string>
						<string>Black</string>
					</array>
				<key>validValues</key>
					<array>
						<integer>1</integer>
						<integer>2</integer>
						<integer>3</integer>
						<integer>4</integer>
						<integer>5</integer>
						<integer>6</integer>
						<integer>7</integer>
						<integer>8</integer>
						<integer>9</integer>
						<integer>10</integer>
						<integer>11</integer>
						<integer>12</integer>
						<integer>13</integer>
						<integer>14</integer>
					</array>
				<key>PostNotification</key>
				<string>com.imkpatil.colormybattery.settingschanged</string>

			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>defaults</key>
				<string>com.imkpatil.colormybattery</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>key</key>
				<string>MediumBatt</string>
				<key>label</key>
				<string>26 - 50 %</string>
				<key>validTitles</key>
					<array>
						<string>Green</string>
						<string>Blue</string>
						<string>Brown</string>
						<string>Clear</string>
						<string>Cyan</string>
						<string>DarkGray</string>
						<string>LightGray</string>
						<string>Magenta</string>
						<string>Orange</string>
						<string>Purple</string>
						<string>Red</string>
						<string>White</string>
						<string>Yellow</string>
						<string>Black</string>
					</array>
				<key>validValues</key>
					<array>
						<integer>1</integer>
						<integer>2</integer>
						<integer>3</integer>
						<integer>4</integer>
						<integer>5</integer>
						<integer>6</integer>
						<integer>7</integer>
						<integer>8</integer>
						<integer>9</integer>
						<integer>10</integer>
						<integer>11</integer>
						<integer>12</integer>
						<integer>13</integer>
						<integer>14</integer>
					</array>
				<key>PostNotification</key>
				<string>com.imkpatil.colormybattery.settingschanged</string>

			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>defaults</key>
				<string>com.imkpatil.colormybattery</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>key</key>
				<string>LowBatt</string>
				<key>label</key>
				<string>0 - 25 %</string>
				<key>validTitles</key>
					<array>
						<string>Green</string>
						<string>Blue</string>
						<string>Brown</string>
						<string>Clear</string>
						<string>Cyan</string>
						<string>DarkGray</string>
						<string>LightGray</string>
						<string>Magenta</string>
						<string>Orange</string>
						<string>Purple</string>
						<string>Red</string>
						<string>White</string>
						<string>Yellow</string>
						<string>Black</string>
					</array>
				<key>validValues</key>
					<array>
						<integer>1</integer>
						<integer>2</integer>
						<integer>3</integer>
						<integer>4</integer>
						<integer>5</integer>
						<integer>6</integer>
						<integer>7</integer>
						<integer>8</integer>
						<integer>9</integer>
						<integer>10</integer>
						<integer>11</integer>
						<integer>12</integer>
						<integer>13</integer>
						<integer>14</integer>
					</array>
				<key>PostNotification</key>
				<string>com.imkpatil.colormybattery.settingschanged</string>

			</dict> -->

		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring!</string>
			<key>action</key>
			<string>respring</string>
		</dict>

			<!-- <dict>
				<key>cell</key>
				<string>PSLabel</string>
				<key>label</key>
				<string>Choose Vibration Strength:</string>
				</dict> -->

			<!-- <dict>
				<key>cell</key>
				<string>PSTextCell</string>
				<key>label</key>
				<string>Strength (iPhone 7 and newer)</string>
			</dict> -->
		<!-- <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.imkpatil.colormybattery.settingschanged</string>
			<key>key</key>
			<string>custom</string>
			<key>label</key>
			<string>Advanced</string>
		</dict> -->

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Icon from iconfinder.com
© 2020 P2KDev (@p2kdev)</string>
		</dict>

	</array>

	<key>title</key>
	<string>ColorMyBattery</string>
</dict>
</plist>
